body {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}

#slider {
  transform: translate(0px, -400px);
  z-index: 1;
}

#range-input {
  margin: 0;
  width: 300px;
}

input {
  cursor: pointer;
}

.axis { font-size: 16px; }
.axis2 { font-size: 16px; }
.axis3-0 { font-size: 16px; }
.axis3-1 { font-size: 16px; }
.legend-text { font-size: 20px; font-weight: lighter;}

.alignright {
    float: right;
    font-size: 24px;
    padding: 0px 17px 0px 7px;
}
